*{
    margin: 0;
   padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
  }
  
.cabecalho {
    background-color: #383D58;
  color:white;
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding: 24px 0;
}  

.cabecalho-imagem{
       width: 20%; ;
}
  
.cabecalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}

escola-div-conteudo{
  width: 40%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-imagem{
  width: 120px
}


preenchimento :  16 px  0 ;
}

.estudante-titulo{
    alinhamento de texto : centro;
    preenchimento :  50 px  0 ;
}

.estudante-todos{
    exibição : grade;
    colunas de modelo de grade :  20 %  20 %  20 %  20 %  20 % ;
}

. rodape {
    cor de fundo : preto;
    alinhamento de texto : centro;
}

.rodape-imagem {
    altura :  60px ;​
    preenchimento :  12 px  0 ;

}